@media screen and (min-width: 55rem){

    body{
        background-color: $charcoal-gray;
        @include flex-column;
        height: 60rem;
        justify-content: center;
        align-items: center;
    }

    .form-container{
        flex-direction: row-reverse;
        max-width: 60rem;
        border-radius: 30px;
        padding: 1rem;
    }

    .flex-child-1{
        display: flex;
    }

    .flex-child-2{
        @include flex-column;
        padding: 0 1.5rem;
        height: auto;
        justify-content: center;
        max-width: 28rem;
    }

    h1{
        font-size: 3.5rem;
        margin: 0;
    }

    .stay-updated{
        margin: 0;
    }

    ul{
        margin: .5rem 1.5rem 1rem;

        li{
            margin-bottom: .7rem;
        }
    }

    .success-message{
        border-radius: 30px;
    }

    .success-message-display{
        height: auto;
        max-width: 30rem;
        padding: 3rem;
    }

    .message-wrapper{
        height: 100%;
    }

    .thanks{
        line-height: 1;
    }
    
    .dismiss-wrapper{
        height: 100%;
    }

    .attribution{
        color: $white;
        margin: .5rem;
        a { 
            color: $tomato; 
            }
        }
    }